*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: #111;
    /* background: linear-gradient(90deg, #013672, #000); */
    background: linear-gradient(90deg, #000, #013672);
    min-height: 50vh;
    color: gray;

    --mildTextColor: rgb(168, 167, 167);
    --brightTextColor: #fff;
    --themeColor: #00c3ff;
}



/* Loader Animation for the site.... */
.loadWrapper {
    position: fixed;
    content: "";
    top: 0%;
    left: 0%;
    width: 108%;
    margin: auto;
    height: 100vh;
    background: #00000063;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9991;
    transition: .1s;
    border-radius: 0%;
    backdrop-filter: blur(1px);
}

.loadWrapper.hide_loader {
    display: none;
}

.loader_container {
    width: 100%;
    margin: auto;
    position: absolute;
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    /* display: none; */
}

.load {
    width: 200px;
    height: 100px;
    border: 0px solid transparent;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    /* background: black; */
}

.load:nth-child(1) {
    border-bottom-width: 8px;
    border-color: var(--themeColor);
    animation: rotate1 .1s linear infinite;

}


@keyframes rotate1 {
    0% {
        transform: rotateX(35deg)rotateY(-45deg)rotateZ(0);
    }

    100% {
        transform: rotateX(35deg)rotateY(-45deg)rotateZ(360deg);
    }
}

.load:nth-child(2) {
    border-top-width: 8px;
    border-color: #000;
    animation: rotate2 .1s linear infinite;

}

@keyframes rotate2 {
    0% {
        transform: rotateX(15deg)rotateY(50deg)rotateZ(0);
    }

    100% {
        transform: rotateX(15deg)rotateY(50deg)rotateZ(360deg);
    }
}

.load:nth-child(3) {
    border-right-width: 8px;
    border-color: var(--themeColor);
    animation: rotate3 .1s linear infinite;

}

@keyframes rotate3 {
    0% {
        transform: rotateX(50deg)rotateY(10deg)rotateZ(0);
    }

    100% {
        transform: rotateX(50deg)rotateY(10deg)rotateZ(360deg);
    }
}

.load-txt {
    color: #ffffff;
    font-family: cursive;
    font-size: 18px;
    display: none;
}



/* Styling the landing page .........*/
.landingPlace{
    background: linear-gradient(90deg, #013672, #000);

    min-height: 95vh;
    min-width: 100%;
    margin: auto;

    background: url(assets/dna.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border-image-slice: fill 1;
    border-image-source: linear-gradient( #013672, #01171ddc,#000);

    /* mask-image: linear-gradient(#000, #000, #0000009f, transparent);
    -webkit-mask-image: linear-gradient(#000, #000, #0000009f, transparent); */
    border-bottom: .1px solid var(--mildTextColor);
}
.landingPlace .topHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    padding: 10px;
    max-height: 30vh;
}
.topHeader nav{

}
.topHeader nav a{
    color: var(--mildTextColor);
    text-decoration: none;
    margin: 15px;
    letter-spacing: 1.2px;
    transition: all .5s;
}
.topHeader nav a:hover{
    color: var(--themeColor);
    text-decoration: underline;
}
.topHeader button{
    background: transparent;
    border-radius: 3px;
    color: var(--themeColor);
    border: .1px solid var(--mildTextColor);
    padding: 10px 30px;
    box-shadow: 1px 0px 1px 0px;
    cursor: pointer;
    transition: all .5s;

}
.topHeader button:hover{
    background: linear-gradient(90deg, #013672, #000);
    border: .1px solid rgba(128, 128, 128, 0.24);
    box-shadow: 0px .5px 0px 0px;
}

.landingPlace .contentWrapper{
    position: relative;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contentWrapper .myName{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 40px;
    /* padding: 30px; */
    min-height: 90vh;
    text-align: start;
    width: 60%;
    line-height: 1.5;
    z-index: 9;
}
.myName h2{
    font-size: 3em;
    letter-spacing: 10px;
    color: var(--brightTextColor);
}
.myName p{
    font-size: 1.3em;
    
}
.myName .downloadCv{
    border: .1px solid gray;
    color: var(--mildTextColor);
    background-color: transparent;
    padding: 7px 14px;
    border-radius: 3px;
    letter-spacing: 1.2px;
    cursor: pointer;
}
.myName .downloadCv:hover{
    background: linear-gradient(90deg, #013672, #000);
    box-shadow: 0px .5px 0px 0px;
    border: .1px solid var(--brightTextColor);
}


.socialWrapper{
    width: 100%;
    min-height: 20vh;
}
.socialWrapper .socials{
    display: flex;
    justify-content:first baseline;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    min-height: 20vh;
    border-radius: 4%;
}
.socials h1{
    font-size: 2em;
    color: var(--brightTextColor);
}
.socials .home_icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    gap: 20px;
}
.home_icons a{
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;


    border: 1px solid var(--themeColor);
    border-radius: 40%;
    color: #00c3ff;
    font-size: 1.5em;
    text-decoration: none;
    transition: all .5s;
}
.home_icons a:hover{
    background: #0000009f;
    border: .1px solid var(--brightTextColor);
}
.home_icons i{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}


 .absoluteImage{
    content: '';
    position: absolute;
    top: 0;
    right: 1%;
    width: 60%;
    height: auto;
    min-height: 90vh;
    z-index: 8;

    background: url(assets/nguyo1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 80% 23%;
    border-radius: 10%;

    mask-image: linear-gradient(#000,#000, #0000009f, #00000042, transparent);
    -webkit-mask-image: linear-gradient(#000, #000, #0000009f, #00000042, transparent);
}



/* This is the about me section of the website..........**/
.aboutMeWrapper{
    position: relative;
    max-height: 40vh;
    width: 100%;
}
.aboutMeWrapper .aboutMe{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    background-attachment: fixed;
    border-image-slice: fill 1;
    border-image-source: linear-gradient(#000, #01171d2d, #012f83);
    
}
.aboutMe img{
    /* object-fit: cover;
    object-position: top;
    max-height: 70vh; */

    content: '';
    position: absolute;
    top: 0%;
    right: 1%;
    width: 100%;
    height: auto;
    z-index: 10;

    background: url(assets/microscope.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    mask-image: linear-gradient(transparent, #000, #0000009f, #00000042, transparent);
    -webkit-mask-image: linear-gradient(transparent, #000, #0000009f, #00000042, transparent);
}
.aboutMe .about_text{
    position: relative;
    width: 100%;
    z-index: 10;
    padding: 10px;
}
.about_text {
    font-size: 1.2em;
    line-height: 1.5;
    color: var(--mildTextColor);
}
.aboutMe .about_text *{
    margin: 20px;
}
.about_text button{
    background-color: transparent;
    padding: 7px 20px;
    border: 0px solid var(--brightTextColor);
    font-size: 1.1em;
    border-radius: 4px;
    color: var(--themeColor);
    letter-spacing: 1.2px;
    margin: 0;
    cursor: pointer;
    transition:  all .5s;
}
.about_text button:hover{
    text-decoration: underline;
}
.about_text span.hideAboutText{
    display: none;
}
.aboutMe .about_text h2{
    color: var(--brightTextColor);
    font-size: 2em;
}


